@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Text:ital@0;1&family=Nova+Flat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mainHeader {
  height: 5.625rem;
  background-color: black; }

.header {
  color: white;
  font-weight: 700;
  font-size: 1.125rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "explorar inicio masInfo";
  font-family: "Inter", sans-serif;
  align-items: center;
  justify-items: center;
  padding-top: 1.5625rem;
  letter-spacing: -0.0313rem; }
  .header section {
    display: flex;
    gap: 3.125rem; }
    .header section div ul li {
      list-style: none; }
      .header section div ul li a {
        text-decoration: none;
        color: white; }

.explorar {
  display: flex;
  align-items: center;
  gap: .625rem; }
  .explorar div li a img {
    height: 1.25rem;
    width: 1.25rem; }
  .explorar div li:hover .explorar.Vertical {
    display: block; }

.explorarVertical {
  position: absolute;
  display: none;
  width: 9.375rem;
  background-color: rgba(0, 0, 0, 0.705);
  margin-left: -6.25rem;
  border-radius: .3125rem;
  text-align: left; }
  .explorarVertical li {
    padding: .8125rem 1rem .8125rem 1rem; }
    .explorarVertical li:hover {
      background-color: rgba(15, 15, 15, 0.281); }

.masInfo {
  display: flex;
  align-items: center;
  gap: 1.875rem; }

#inicio li a img {
  height: 2.5rem;
  width: 2.5rem; }

/*main*/
.main-title {
  height: 37.5rem;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to bottom, rgba(3, 8, 11, 0.041) 80%, #03080b), url(/assets/img/wallpapers/wallpaper-inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; }

.explora-el-cosmos-block {
  color: white;
  margin: 0rem 6.25rem;
  font-weight: bold;
  letter-spacing: -0.1875rem;
  text-align: center; }
  .explora-el-cosmos-block h1 {
    padding-top: 5rem;
    font-size: 6.25rem;
    font-weight: bold; }
    .explora-el-cosmos-block h1 span {
      display: block; }
  .explora-el-cosmos-block button {
    margin: 5%;
    padding: .9375rem;
    border: 0;
    border-color: #529561;
    border-radius: 1.25rem;
    font-family: "Inter", sans-serif;
    background-color: #529561;
    color: white;
    font-weight: 700;
    font-size: large;
    cursor: pointer; }

.description {
  font-size: 1.0625rem;
  font-weight: 300;
  letter-spacing: -0.0625rem;
  padding: 0px 20%; }
  .description span {
    font-weight: 500; }

.multimedia-block-main-title {
  background: linear-gradient(to top, rgba(3, 8, 11, 0.041) 60%, #03080b), url(/assets/img/wallpapers/unsplash_y54gnzC86lw.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 62.5rem;
  font-family: "Inter", sans-serif; }

.multimedia-block {
  text-align: right;
  margin: 0rem 6.25rem;
  color: white;
  padding-top: 18.75rem;
  letter-spacing: -0.1875rem; }
  .multimedia-block h1 {
    font-size: 5rem; }
  .multimedia-block h3 {
    font-size: 1.0625rem;
    font-weight: 300;
    letter-spacing: -0.0625rem; }
    .multimedia-block h3 span {
      display: block; }

.main-section {
  padding: 3% 12.5rem;
  background-color: #03080b;
  text-align: center; }

.conocer-mas {
  color: white;
  letter-spacing: .3125rem;
  font-family: "DM Mono", monospace;
  margin-bottom: 4.375rem; }

.contenedor-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  justify-content: center;
  gap: 50px; }

.card {
  width: 15.625rem;
  height: 21.875rem;
  background-color: #161616;
  border-radius: 10px;
  color: #fffdf8;
  box-shadow: 0rem 0.9375rem 1.25rem rgba(0, 0, 0, 0.7); }
  .card a img {
    width: 80%;
    height: 60%;
    margin: -20px 1.5625rem 0rem 1.5625rem;
    border-radius: .5rem;
    mask-image: linear-gradient(black 79%, transparent); }
  .card ul {
    list-style: none; }
    .card ul li {
      font-family: "Inter", sans-serif;
      margin: .625rem 1.5625rem;
      font-size: 1.5625rem; }

.grids {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "s1 s5 s3" "s4 s5 s2";
  gap: .625rem; }
  .grids div img {
    width: 100%;
    height: 100%;
    border-radius: .3125rem; }

.s1 {
  grid-area: s1; }

.s2 {
  grid-area: s2; }

.s3 {
  grid-area: s3; }

.s4 {
  grid-area: s4; }

.s5 {
  grid-area: s5; }

.contenedor-galeria {
  font-family: "Inter", sans-serif;
  display: flex;
  height: 45%;
  width: 50%;
  margin-left: 14%;
  margin-top: 1%; }

/*específicos*/
.mainKepler {
  display: flex;
  height: 70rem;
  background-image: url(../assets/img/wallpapers/backgroundKepler.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around; }

.mainLuna {
  display: flex;
  height: 70rem;
  background-image: url(../assets/img/wallpapers/backgroundLuna.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around; }

.mainMarte {
  display: flex;
  height: 70rem;
  background-image: url(../assets/img/wallpapers/wallpaperMarte.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around; }

/* generales =3 */
.xSection {
  background-color: rgba(31, 19, 19, 0.473);
  color: white;
  text-align: center;
  width: 62.5rem;
  height: 1020px;
  margin-top: 6.25rem;
  border-radius: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding: 3.125rem 6.25rem 0rem 6.25rem; }

.nombreTitular {
  font-size: 5rem;
  flex-wrap: nowrap; }

.desc div {
  margin: .625rem; }
  .desc div ul li {
    list-style: none;
    font-size: 1.125rem;
    font-weight: lighter; }

.desc article {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  list-style: none;
  align-items: center; }
  .desc article img {
    width: 1.5625rem;
    height: 1.5625rem; }
  .desc article p {
    font-size: 1.0625rem; }

.comprarPasaje a button {
  padding: .9375rem 6.25rem .9375rem 6.25rem;
  background-color: white;
  border-radius: 3.75rem;
  border-style: none;
  font-family: "Judson", serif;
  font-size: 1.5625rem;
  font-weight: bold;
  margin: 4.375rem; }

.galeria {
  margin: 0rem 3.125rem; }
  .galeria div h2 {
    text-align: center; }

.photos {
  margin-top: .625rem; }
  .photos img {
    margin: .3125rem .3125rem;
    width: 50%; }

/*footer*/
#mainFooter {
  background-color: black;
  height: 16.875rem;
  padding: 1.875rem 6.25rem 1.875rem 6.25rem; }

.footer {
  color: white;
  display: block;
  font-family: "Judson", serif;
  font-size: 1.125rem; }
  .footer div ul {
    display: flex;
    justify-content: center;
    gap: 1.875rem; }
    .footer div ul li {
      list-style: none; }
      .footer div ul li a {
        text-decoration: none;
        color: white; }
