#mainFooter {
    background-color: #000; // Usar color hex para mayor consistencia
    height: 16.875rem;
    padding: 1.875rem 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    div{
        text-align: center;
    ul{
        display: flex;
        justify-content: center;
        gap: 1.875rem;
        a{
            color: #fff;
            &:hover {
                text-decoration: underline; 
            }
        }
        }
    }
}
